{include file='public/header'}
<body>
<form class="layui-form" action="__MAN__/files/batchSave" method="post">

    <div class="layui-form-item">
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button> 
            <div class="layui-upload-list">
              <table class="layui-table">
                <thead>
                  <tr><th>文件名</th>
                  <th>大小(KB)</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr></thead>
                <tbody id="demoList"></tbody>
              </table>
            </div>
            <button type="button" class="layui-btn" id="testListAction">开始上传</button>
          </div> 
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">文件类别</label>
        <div class="layui-input-block">
            <select name="classid" lay-verify="number" lay-verify-msg="请选择文件类别">
                <option value="">-请选择-</option>
                {$res.classid|default=0|getTreeOption='nclass_select',5,###}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">编制部门</label>
        <div class="layui-input-block">
                {$res.bmid|default=0|selectBox='nclass_bm','checkbox','bmid',2,###}
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">是否允许参建单位查看</label>
        <div class="layui-input-block">
            <input type="checkbox" name="ispub" id="ispub" lay-skin="switch" lay-text="YES|NO"  value="1">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="OK">立即提交</button>

        </div>
    </div>
</form>

{include file='public/footer'}
<script>

    //getEditor('content');
    layui.use(['form','upload'], function(){
        var form = layui.form
        ,$ = layui.jquery
        ,upload = layui.upload;
        //多文件列表示例
        var demoListView = $('#demoList')
        ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: '__MAN__/upload'
            ,data: {type: 'file'}
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#testListAction'
            ,choose: function(obj){   
            var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
            //读取本地文件
            obj.preview(function(index, file, result){
                var tr = $(['<tr id="upload-'+ index +'">'
                ,'<td><input type="text" name="title[]" value="'+ file.name +'" class="layui-input"></td>'
                ,'<td><input type="text" name="filesize[]" value="'+ (file.size/1014).toFixed(1) +'" class="layui-input"></td>'
                ,'<td>等待上传</td>'
                ,'<td>'
                    ,'<button type="button" class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                    ,'<button type="button" class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                ,'</td>'
                ,'</tr>'].join(''));
                
                //单个重传
                tr.find('.demo-reload').on('click', function(){
                obj.upload(index, file);
                });
                
                //删除
                tr.find('.demo-delete').on('click', function(){
                delete files[index]; //删除对应的文件
                tr.remove();
                uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                });
                
                demoListView.append(tr);
            });
            }
            ,done: function(res, index, upload){
                //alert(res.msg);
            if(res.code == 0){ //上传成功
                var tr = demoListView.find('tr#upload-'+ index)
                ,tds = tr.children();
                tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                tds.eq(3).html('<input type="text" name="fileurl[]" value="'+ res.data.savename +'" class="layui-input">'); //清空操作
                return delete this.files[index]; //删除文件队列已经上传成功的文件
            }
            this.error(index, upload);
            }
            ,error: function(index, upload){
            var tr = demoListView.find('tr#upload-'+ index)
            ,tds = tr.children();
            tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
            tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        //监听提交
        form.on('submit(OK)', function(data){
            //layer.msg(JSON.stringify(data.field));
            //return false;

        });
        form.on('checkbox', function(data){
            //alert(data.value);
            var groupid={:session('groupid')};
            var bmid={:session('cityid')};
            if(groupid==4){
                if(data.value!=bmid){
                    layer.msg('仅限于本部门');
                    $(data.elem).removeAttr('checked');
                    form.render('checkbox');
                }
            }
        }); 
    });
    
</script>

</body>
</html>