body {
	background: #FFF;
	padding: 10px;
}
a:link, a:visited{
	color:#000;
	text-decoration: none;
}
a:hover{
	color:#00C;
	text-decoration: underline;
}
table{ border-collapse:collapse;  }
table[bordercolor] td { border:1px solid #b5d6e6; }
textarea { width: 90%; }

#reload-btn { position: absolute; top: 5px; right: 5px; }
.lay-btn {   }
.layui-table .col { background: #F7F7F7; width: 20%; text-align: center; }

dl.layui-anim dd { text-align: left !important; }

/*分页*/
.pagination{overflow:hidden;display:block;border-left:1px solid #eee;float:right; margin-bottom: 10px; }
.pagination li{float:left;border:1px solid #eee;margin-left:-1px;font-size:16px;overflow:hidden;cursor:pointer;}
.pagination li a,
.pagination li span{display:block;padding:6px 15px; }
.pagination li.active{background-color:#009688;color:#fff;border-color:#009688;}

/*- scrollbar -*/
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb{
	background-color: #999;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical:hover{
	background-color: #666;
}
::-webkit-scrollbar-thumb:vertical:active{
	background-color: #333;
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-track{
	background-color: #f1f1f1;
}
.my-header-logo { font:normal 22px/60px 微软雅黑 !important; color: white !important; width: 100% !important; text-overflow: ellipsis; z-index: 1;  } 
.my-header .my-header-btn { left: 10px; z-index: 2; }
.my-header .layui-layout-right {z-index: 2; }
@media (max-width:768px){
    .my-header-logo { font:normal 16px/60px 微软雅黑 !important;  width: 100% !important; text-overflow: ellipsis; z-index: 1; }
    .my-header .my-header-btn { left:auto; right:5px; z-index: 2; }
}

.my-header .btn-nav { margin-top: 15px; background:#666;   }
.my-header .btn-nav i { font-size: 22px !important;}
.my-body {
    overflow: hidden;
}	  
.my-body .layui-tab, .my-body .layui-tab .layui-tab-content {
    margin: 0;
    padding: 0;
}
.my-body .layui-tab .layui-tab-title li:first-child > i {
    display: none;
}
.my-body .layui-tab, .my-body .layui-tab .layui-tab-content, .my-body .layui-tab .layui-tab-item {
    height: 100%;
}
.my-body iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}
.my-footer { text-align: center; }

/* dblclick css */
.dblclick-tab tr td {
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    border-radius: 2px;
    cursor: pointer;
}
.dblclick-tab tr td:hover {
    color: black;
    background: white;
}
.dblclick-tab tr td i {
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 5px;
} 	  
.dblclick-tips-box .layui-layer-content {
    background-color: #009688 !important;
}
.dblclick-tips-box .layui-layer-content .layui-layer-TipsB{
    border-right-color: #009688 !important;
}
	  
/* skin1 */
.skin-1 .my-header {
    background: #FFA500 !important;
}
.skin-1 .my-side,.skin-1 .layui-nav-tree  {
    background: #E47214 !important;
}
	
/* skin2 */
.skin-2 .my-header {
    background:#3396D8 !important;
}
.skin-2 .my-side,.skin-2 .layui-nav-tree  {
    background: #146AA2 !important;
}

/*************
Default Theme
*************/
/* overall */
.tablesorter-default {
	width: 100%;
}

/* header */
.tablesorter-default th,
.tablesorter-default thead td {
	font-weight: bold;
    color: #333;
    text-align: center;
    padding: 9px 15px;
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: normal;
    padding: 9px 15px;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
	background-image: none;
	cursor: default;
}

/*列表*/
.list { clear:both; }
.list li {  height:25px; line-height:25px; position:relative; background:url(../../images/dot.gif) no-repeat 8px 0px; padding-left:22px; z-index:1;  }
.list li a { display: block; font-size:14px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.list li a:hover { text-decoration:underline; }
.list li span { height:25px; line-height:25px; position:absolute; right:1px; top:-1px; color:#CCC; z-index:2; }
.list li em { display:block; width:14px; height:14px; line-height:14px; text-align:center;  background:#0076C0; color:#FFF; font-style:normal; position:absolute; left:4px; top:6px; font-size:12px; font-family:Arial; z-index:2;  }
.list li em.red { background:#C00;  }

.my-sidemenu { position: fixed; top:50%; margin-top: -160px; right: 20px; z-index: 9999; }
.my-sidemenu ul li { margin-bottom:3px;   }
.my-sidemenu ul li a { display:block; padding: 8px; text-align: center;  background: #009688; text-decoration: none; color: #FFF; }
.my-sidemenu ul li a:hover { background: #5FB878; }
.my-sidemenu ul li a i { font-size: 30px; }
.my-sidemenu ul li a h2 { font-size: 14px; }